In [12]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Date, Numeric, ForeignKey

from sqlalchemy.orm import declarative_base, relationship, sessionmaker

In [20]:
engine = create_engine('postgresql+psycopg2://root:root@localhost:5432/excelindo-db')

engine.connect()

In [31]:
Base = declarative_base()

class sales_invoices(Base):
    __tablename__ = 'sales_invoices'
    invoice_id = Column(Integer, primary_key=True)
    invoice_number = Column(String(50), nullable=False)       
    invoice_date = Column(Date, nullable=False)           
    due_date = Column(Date, nullable=False)
    ship_date = Column(Date)
    customer_id = Column(Integer)
    customer_name = Column(String(100))
    sub_total = Column(Numeric(15, 2))
    total_amount = Column(Numeric(15, 2))
    outstanding_amount = Column(Numeric(15, 2))
    status = Column(String(20))                 
    approval_status = Column(String(20))
    po_number = Column(String(50))              
    sales_order_id = Column(Integer)        
    delivery_order_id = Column(Integer)     
    payment_term_id = Column(Integer)
    payment_term_name = Column(String(100))
    currency_id = Column(Integer)             
    currency_code = Column(String(10)) 
    exchange_rate = Column(Numeric(10, 4))         
    branch_id = Column(Integer)
    branch_name = Column(String(100))            
    invoice_age_days = Column(Integer)        
    created_by = Column(String(50))
    printed_time = Column(Date)
    extracted_at = Column(Date)

class sales_invoice_details(Base):
    __tablename__ = 'sales_invoice_details'
    detail_id = Column(Integer, primary_key=True)                   
    invoice_id = Column(Integer, ForeignKey('sales_invoices.invoice_id'))
    invoice_number = Column(String(50))
    item_id = Column(Integer)                       
    item_number = Column(String(50))    
    item_name = Column(String(200))                    
    item_category_id = Column(Integer)
    quantity = Column(Numeric(15, 2))
    unit_id = Column(Integer)
    unit_name = Column(String(50))    
    unit_ratio = Column(Numeric(10, 4))
    unit_price = Column(Numeric(15, 2))
    gross_amount = Column(Numeric(15, 2))
    sales_amount = Column(Numeric(15, 2))
    warehouse_id = Column(Integer)
    warehouse_name = Column(String(100))
    sales_order_detail_id = Column(Integer)
    delivery_order_detail_id = Column(Integer)
    line_seq = Column(Integer)
    extracted_at = Column(Date)

Base.metadata.create_all(engine)

In [4]:
# Membaca data dari file CSV
df = pd.read_csv('sales_invoices_20260203_221624.csv')

In [25]:
df.head(1)

,invoice_id,invoice_number,invoice_date,due_date,ship_date,customer_id,customer_name,sub_total,total_amount,outstanding_amount,...,payment_term_name,currency_id,currency_code,exchange_rate,branch_id,branch_name,invoice_age_days,created_by,printed_time,extracted_at
0,99352,INV.KU.12.25.EHG.3054,2025-12-31,2026-01-30,2025-12-31,13800,PT. FOOD PACKAGING JAYA,345000.0,345000.0,1.0,...,net 30,50,IDR,1.0,50,Kantor Pusat,34,319516,2026-02-01 09:22:00,2026-02-03 22:16:23

In [26]:
print(df["total_amount"].max())

282150000.0

In [14]:
df_details = pd.read_csv('sales_invoice_details_20260203_222118.csv')

In [16]:
df_details.head(1)

,detail_id,invoice_id,invoice_number,item_id,item_number,item_name,item_category_id,quantity,unit_id,unit_name,unit_ratio,unit_price,gross_amount,sales_amount,warehouse_id,warehouse_name,sales_order_detail_id,delivery_order_detail_id,line_seq,extracted_at
0,103152,99352,INV.KU.12.25.EHG.3054,43003,EHG1760,Label Semi Coated 254mm x 72mm PRINTED,52,1000.0,50,PCS,1.0,345.0,345000.0,345000.0,150.0,Gudang Printing,115615,122118,1,2026-02-03 22:21:17

In [35]:
max_length = df_details['item_name'].str.len().max()
print("Maximum length of item_name:", max_length)
print(df_details[df_details['item_name'].str.len() == max_length][['item_name']])

Maximum length of item_name: 105
                                               item_name
12131  PC RAKITAN, (Spesifikasi: Monitor Samsung/Acer...

In [15]:
df_details.dtypes

detail_id                     int64
invoice_id                    int64
invoice_number               object
item_id                       int64
item_number                  object
item_name                    object
item_category_id              int64
quantity                    float64
unit_id                       int64
unit_name                    object
unit_ratio                  float64
unit_price                  float64
gross_amount                float64
sales_amount                float64
warehouse_id                float64
warehouse_name               object
sales_order_detail_id         int64
delivery_order_detail_id      int64
line_seq                      int64
extracted_at                 object
dtype: object

In [22]:
#transforming date columns to datetime format
date_columns_invoices = ['invoice_date', 'due_date', 'ship_date', 'printed_time', 'extracted_at']
for col in date_columns_invoices:
    df[col] = pd.to_datetime(df[col], errors='coerce')


date_columns_details = ['extracted_at']
for col in date_columns_details:
    df_details[col] = pd.to_datetime(df_details[col], errors='coerce')

C:\Users\syari\AppData\Local\Temp\ipykernel_13016\1785110843.py:6: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce')
C:\Users\syari\AppData\Local\Temp\ipykernel_13016\1785110843.py:6: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce')
C:\Users\syari\AppData\Local\Temp\ipykernel_13016\1785110843.py:6: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce')

In [36]:
df.to_sql('sales_invoices', engine, if_exists='append', index=False)

229

In [37]:
df_details.to_sql('sales_invoice_details', engine, if_exists='append', index=False)

477

In [38]:
notebook_path = "upload_to_db.ipynb"
output_script = "manual_dag_load_01012024_01012026.py"

from nbformat import read
from nbconvert import PythonExporter

with open(notebook_path, "r", encoding="utf-8") as nb_file:
    notebook = read(nb_file, as_version=4)

exporter = PythonExporter()
script_body, _ = exporter.from_notebook_node(notebook)

with open(output_script, "w", encoding="utf-8") as script_file:
    script_file.write(script_body)

print(f"Script generated at {output_script}")

Script generated at manual_dag_load_01012024_01012026.py